doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, viewport-fit=cover')
    title Image Search Abstraction Layer
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    style.
      footer ul li {
        font-size: 24px;
        display: inline-block;
        padding-right: 3.5%;
      }
      .fa-code, .fa-heart {
        -webkit-text-stroke: 1px;
      }
  body
    .container
      h1.text-center FCC API Basejump: Image Search Abstraction Layer
      .jumbotron
        h3 User Stories
        blockquote
          ul
            | 1) I can get the image URLs, alt text and page urls for a set of images relating to a given search string.
          ul
            | 2) I can paginate through the responses by adding a ?offset=2 parameter to the URL.
          ul
            | 3) I can get a list of the most recently submitted search strings.
        h3 Example Query Usage
        code https://isal-hemakshis.glitch.me/api/taj%20mahal
        h3 Example Query Output
        p An array of objects showing 10 search results (You can paginate through the results by passing an offset query). Format of one such object is:-
        code {
          | "title": "Taj Mahal - Wikipedia", 
          | "imgLink": "https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/Taj_Mahal_%28Edited%29.jpeg/1200px-Taj_Mahal_%28Edited%29.jpeg", 
          |  "contextLink": "https://en.wikipedia.org/wiki/Taj_Mahal", 
          | "thumbnailLink": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRejEfwD-PXPIG4h-CyLeLzKAsB0ebGJeTSjy1ir9OXneIldX6KvHt8NgoE"
          | }
        h3 Example Latest Usage
        code https://isal-hemakshis.glitch.me/api/searches/latest
        h3 Example Latest Output
        p An array of objects showing latest 10 searches done. Format of one such object is:-
        code {"term": "taj mahal", "when": "2018-01-11T09:43:22.962Z"}
    footer.text-center
      i.fa.fa-code.text-dark.fa-lg
      |  with 
      i.fa.fa-heart.text-danger
      |  By Hemakshi Sachdev, 2018
      ul.text-center
        li
          a(href='https://github.com/hemakshis', title='GitHub')
            i.fa.fa-github
        li
          a(href='https://www.freecodecamp.org/hemakshis', title='FreeCodeCamp')
            i.fa.fa-free-code-camp
        li
          a(href='https://www.linkedin.com/in/hemakshis', title='LinkedIn')
            i.fa.fa-linkedin
